html {
  scroll-behavior: smooth;
}

.btnWork {
  padding-bottom: 30px;
}
.btnProj {
  border-radius: 2%;
  border-color: #009999;
  background-color: #009999;
}
#projText{
  color: #ffffff !important;
}

a {
  color: black;
}

/* navbar */

.navbar {
  background-color: none;
  font-family: "Oswald", sans-serif;
}

#navbarNav {
  font-size: 20px;
  padding-bottom: 10px;
  margin-left: 50px;
}

/* hover effect */

:root {
  --mainColor: rgb(0, 0, 0, 0.4);
}

.nav-link {
  transition: 0.4s;
  color: #ffffff;
  font-size: 24px;
  text-decoration: none;
  padding: 0 10px;
}

.nav-link:hover {
  background-color: #ffffff;
  padding: 10px;
}

#home {
  height: 750px;
  text-align: center;
  background: url("../images/keyboardBG.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.homeContent {
  position: relative;
  top: 38px;
  width: 50%;
  background-color: rgb(0, 0, 0, 0.8);
  color: white;
  margin: auto;
  border-radius: 1%;
}

.greeting {
  padding-top: 20px;
  font-family: "Oswald", sans-serif;
  border-bottom: 3px solid #009999;
  margin-left: 7%;
  margin-right: 7%;
}

.profileImage {
  position: relative;
  top: 20px;
  border-radius: 50%;
  height: 155px;
  width: 140px;
}

.ms {
  border-bottom: 2px solid #009999;
  margin-right: 76.1%;
}

.statement {
  font-size: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  text-align: left;
}

/* projects */

.card {
  -webkit-box-shadow: -5px 6px 26px 1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: -5px 6px 26px 1px rgba(0, 0, 0, 0.7);
  box-shadow: -5px 6px 26px 1px rgba(0, 0, 0, 0.7);
}
.card-img-top {
  padding-top: 10px;
  height: 190px;
}

#projects {
  height: 1000px;
  background-color: #009999;
}

.projectsContent {
  width: 82%;
  padding-left: 150px;
  padding-top: 4%;
}
.projLink {
  color: white !important;
}

.card-text {
  font-size: 14px;
}

.link1 {
  margin-top: 15%;
}
.link5 {
  margin-top: 23%;
}
.link6 {
  margin-top: 31%;
}

/* contact page */

.btn-primary {
  background-color: #009999;
  border-color: #009999 !important;
}
#chat {
  margin-left: 17.5%;
  position: relative;
  top: 18%;
  font-family: "Oswald", sans-serif;
  border-bottom: 3px solid #009999;
  margin-right: 72%;
}

#ci {
  font-family: "Oswald", sans-serif;
  border-bottom: 3px solid #009999;
  line-height: 45px;
  margin-right: 52%;
}
#contact {
  height: 800px;
  background-color: #999999;
}

.contactContent {
  margin-top: 11%;
  display: flex;
  justify-content: center;
}

.form {
  flex: 0 0 65%;
}

.contactInfo {
  padding-left: 30px;
  flex: 1;
  line-height: 10px;
}
